/Message/.vs/Message/FileContentIndex/bf23615b-9618-46bf-ab5a-65c20105004f.vsidx
/Task1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Task1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Task1/obj/Debug/Task1.csproj.AssemblyReference.cache
/Task2/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Task2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Task2/obj/Debug/Task2.csproj.AssemblyReference.cache
/Task3/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Task3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Task3/obj/Debug/Task3.csproj.AssemblyReference.cache
/.vs/CSharpEducation/FileContentIndex/e95202b9-4307-4809-996b-3e2c176c538b.vsidx
